#set($items = $ctx.result.items)
#set($cursor = $ctx.result.nextToken)
#set($hasNextPage = !$util.isNull($last))

{
  "programs": $util.toJson($items),
  "cursor": $util.toJson($cursor),
  "hasNextPage": $util.toJson($hasNextPage)
}
